gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

/secrets/*
!/secrets/secrets.tar.enc
app/src/main/res/values/secrets.xml

app/google-services.json
